__pycache__
*.py[cod]
*$py.clash
*.o
*.so
*.so.dSYM
*.abhinav-pc
Abhi1625_hw0/Phase2/CIFAR10
Abhi1625_p1/Phase1/Data
Abhi1625_p1/Phase1/030bddc14741ef71da7991d30ef4e4ebc354.pdf
Abhi1625_p1/Phase1/pano.pdf
Abhi1625_p1/Phase1/tpano.ipynb
Abhi1625_p1/Phase1/test.py
Abhi1625_p2/temp files
